.aboutTours {
  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 500px;
    flex-wrap: wrap;

    @media (min-width: $tb){
      flex-direction: row;
    }

    @media (min-width: $ds){
      flex-wrap: nowrap;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid $basic-thirda3;
    padding-bottom: 15px;
    max-width: 900px;
  }

  &__content {
    display: none;
  }

  &__content.active {
    display: block;
  }

  &__body {
    background-repeat: no-repeat;
    background-image: url('../image/content/bg-feedBack.png');
    width: 100%;
    height: 500px;
  }

  &__info {
    min-width: 30%;

    margin-bottom: 30px;

    @media (min-width: $ds){
      margin-bottom: 0;
    }
  }

  &__title {
    border-bottom: 3px solid $basic-primary;
    padding-bottom: 10px;
  }

  &__feedback {
    min-width: 100%;
    position: relative;

    @media (min-width: $ds){
      min-width: 60%;
    }
  }

  &__review {
    position: absolute;
    background-color: $white;
    padding: 20px;
    top: 80px;
    left: 19%;
    width: 52%;
    min-height: 368px;

    @media (min-width: $ds){
      top: 90px;
      right: 110px;
      width: 382px;
    }
  }

  &__link.active {
    color: $basic-primary;
  }

  &__feedback-wrapper {
    min-width: 60%;
    width: 100vw;
    margin-left: calc(-50vw + 50%);

    @media (min-width: $ds){
      max-width: 40%;
      margin-left: 40px;
    }
  }

  &__image{
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 68%;
    background-repeat: no-repeat;
    background-image: url('../image/content/greciaTest.jpg');
    min-width: 100%;
    min-height: 415px;

    @media (min-width: $ds){
      min-width: 60%;
      min-height: 596px;
    }
  }

  &__title {
    border-bottom: 1px solid $basic-primary;
    padding-bottom: 10px;
    @media (min-width: $ds){
      border-bottom: none;
    }
  }
}

.userReview {
  display: flex;
  align-items: center;

  &__image {
    border-radius: 50%;
    margin-right: 10px;
  }
}
