.aboutTours {
  &__tab {
    min-width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: $ds){
      display: block;
      min-width: auto;
    }
  }

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 500px;
    flex-wrap: wrap;

    min-width: 100%;
    overflow: hidden;

    @media (min-width: $tb){
      flex-direction: row;
    }
  }

  &__header-wrapper {
    max-width: 100%;
    overflow: hidden;

    @media (min-width: $ds){
      overflow: auto;
    }
  }

  &__header {
    display: flex;
    position: relative;
    left: 0;
    padding: 0;
    transition: all ease 1s;
    list-style-type: none;

    @media (min-width: $ds){
      min-width: 80%;
      flex-direction: row;
      align-items:stretch;
      height: min-content;
      justify-content: space-between;
      border-bottom: 1px solid $basic-thirda3;
      padding-bottom: 15px;
      max-width: 900px;
      align-items: center;
    }
  }

  &__content {
    overflow: hidden;
    min-width: min-content;

    @media (min-width: $ds){
      display: none;
    }
  }

  &__content.active  {
    display: block;
  }

  &__body {
    background-repeat: no-repeat;
    background-image: url('../image/content/bg-feedBack.png');
    min-width: 100%;
    min-height: 500px;
    margin-bottom: 50px;
    background-size: contain;
    overflow: hidden;
    display: flex;

    @media (min-width: $ds){
      background-repeat: no-repeat;
      background-image: url('../image/content/bg-feedBack.png');
      min-width: 100%;
      min-height: 500px;
      margin-bottom: 50px;
    }
  }

  &__body-wrapper {
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
  }

  &__info {
    min-width: 30%;
    margin-bottom: 30px;

    @media (min-width: $ds){
      margin-bottom: 0;
    }
  }

  &__title {
    border-bottom: 3px solid $basic-primary;
    padding-bottom: 10px;
  }

  &__feedback {
    min-width: 100%;
    position: relative;

    @media (min-width: $ds){
      min-width: 60%;
    }
  }

  &__review {
    position: absolute;
    background-color: $white;
    padding: 20px;
    top: 80px;
    left: 19%;
    width: 52%;
    min-height: 368px;

    @media (min-width: $ds){
      top: 90px;
      right: 110px;
      width: 382px;
    }
  }

  &__link.active {
    color: $basic-primary;
  }

  &__feedback-wrapper {
    min-width: 60%;
    width: 100vw;
    margin-left: calc(-50vw + 50%);

    @media (min-width: $ds){
      max-width: 40%;
      margin-left: 40px;
    }
  }

  &__image{
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 68%;
    background-repeat: no-repeat;
    background-image: url('../image/content/greciaTest.jpg');
    min-width: 100%;
    min-height: 415px;

    @media (min-width: $ds){
      min-width: 60%;
      min-height: 596px;
    }
  }

  &__title {
    border-bottom: 1px solid $basic-primary;
    padding-bottom: 10px;
    @media (min-width: $ds){
      border-bottom: none;
    }
  }
}

.userReview {
  display: flex;
  align-items: center;

  &__image {
    border-radius: 50%;
    margin-right: 10px;
  }
}
