.cost {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;

  .price-complex,.price-econom{

    @media (min-width:$ds){
      min-width: 16%;
    }
  }

  .price{
    min-width: 100%;

    @media (min-width:$ds){
      min-width: 16%;
    }
  }

  @media (min-width:$ds){
    justify-content: space-between;

  }

  &__item {
    &:nth-child(n){
      margin-bottom: 30px;

    @media (min-width:$tb){
      margin-bottom: auto;

      &:first-child{
        margin-bottom: 30px;

        @media (min-width:$ds){
          margin-bottom: 0;
        }
      }
    }



    &:last-child{
      margin-bottom: 0;

        @media (min-width: $tb) {
          margin-bottom: auto;
        }
      }
    }
    @media (min-width: $ds) {
      max-width: 370px;
      min-height: inherit;
      padding-top: 17px;
    }
  }

  @media (min-width:$tb){
    justify-content: space-around;
  }

  @media (min-width: $ds) {
    justify-content: space-between;
    min-height: 675px;
    margin-bottom: 120px;
  }
}

.price {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  min-height: inherit;

  &__wrapper {
    min-height: inherit;

    @media (min-width:$ds){
      padding-left: 65px;
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 30px;
    position: relative;

    @media (min-width:$ds){
      margin-bottom: 60px;
      margin-top: 110px;
    }

    &:after {
      @media (min-width:$ds){
        content: "";
        position: absolute;
        width: 175px;
        height: 3px;
        bottom: -27px;
        left: 0;
        background-color: $basic-primary;
      }
    }
  }

  &__about {
    line-height: 1.7;

    @media (min-width:$ds){
      margin-bottom: 60px;
    }
  }

  &__contacts {
    text-align: center;
    @media (min-width:$ds){
      margin-bottom: 15px;
    }
  }

  &__contacts-link {
    align-items: center;
    justify-content: center;
  }

  &__contacts-phone {

    a {
      text-decoration: none;

      svg {
        width: 24px;
        height: 28px;
        margin-right: 22px;
      }

      @media (min-width:$ds){
        font-size: 20px;
      }
    }
  }

  .phone-link {

    svg {
      fill: $white;
      stroke: $basic-primary;
    }
  }

  @media (min-width:$ds){
  }
}

.price-complex {
  border: 3px solid $basic-primary;
  order: 1;
  min-width: 288px;

  &__offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    min-width: 240px;
    text-align: center;
    flex-direction: column;
    padding: 20px 20px 0px 20px;

    @media (min-width:$ds){
      padding: 20px 25px 0px 25px;
      margin-bottom: auto;
    }
  }

  &__offer-title {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width:$ds){
      flex-direction: row;
      justify-content: space-between;
      min-width: 100%;
      font-size: 28px;
      margin-bottom: 30px;
    }
  }

  &__about {
    padding-bottom: 28px;
    border-bottom: 1px solid $basic-primary;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.4;

    @media (min-width:$ds){
      text-align: left;
      padding-right: 25px;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 420px;
  }
  &__list{
    list-style-type: none;
    padding: 0px 20px 0;
    padding-bottom: 0;
    max-width: 84%;
    margin: 0 auto;

    @media (min-width:$ds){
      padding: 0px 27px 0;
      padding-bottom: 0;
    }
  }
  &__item{
    position: relative;
    padding-left: 0;
    line-height: 1.8;
    margin-bottom: 12px;

    &::before {
      position: absolute;
      content: "";
      width: 14px;
      height: 12px;
      left: -25px;
      top: 10px;
      background-image: url("../image/icons/arrowDone.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:first-child{
      margin-bottom: 7px;
    }
    &:nth-child(3){
      margin-bottom: 16px;
    }
  }

  &__text-qualitiesList {
    line-height: 2;
  }

  @media (min-width:$ds){
    order: 3;
  }
}

.price-econom {
  border: 3px solid $basic-thirda3;
  order: 2;
  min-width: 288px;

  &__wrapper {
    position: relative;
    min-width: 288px;
  }

  &__offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    min-width: 240px;
    text-align: center;
    flex-direction: column;
    padding: 20px 20px 0px 20px;

    @media (min-width:$ds){
      margin-bottom: auto;
      padding: 20px 25px 0px 25px;
    }
  }

  &__offer-title {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width:$ds){
      flex-direction: row;
      justify-content: space-between;
      min-width: 100%;
      font-size: 28px;
      margin-bottom: 30px;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0px 20px 0;
    padding-bottom: 0;
    max-width: 84%;
    margin: 0 auto;

    @media (min-width:$ds){
      padding: 0 27px 0;
      padding-bottom: 0;
    }
  }
  &__about {
    padding-bottom: 28px;
    border-bottom: 1px solid $basic-thirda3;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.4;

    @media (min-width:$ds){
      text-align: left;
      padding-right: 25px;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 420px;
  }
  &__item{
    position: relative;
    padding-left: 0;
    line-height: 1.8;
    margin-bottom: 15px;

    &::before {
      position: absolute;
      content: "";
      width: 14px;
      height: 12px;
      left: -27px;
      top: 10px;
      background-image: url("../image/icons/arrowDone.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:first-child{
      margin-bottom: 15px;
    }
    &:nth-child(3){
      margin-bottom: 16px;
    }
  }

  &__text-qualitiesList {
    line-height: 2;
  }

  @media (min-width:$ds){
    order: 2;
  }
}
