.link {
  background-color: $basic-primary;
  width: 268px;
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 40px;
  cursor: pointer;

  &:hover {
    background-color: $basic-secondary;
    transition: 0.3s ease-in-out;
  }

  @media screen and (min-width: $tb) {
    width: 250px;
  }
}

.link-about {
  display: none;
  position: absolute;
  bottom: 200px;
  width: 266px;
  opacity: 0;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  border: 1px solid $lightWhite;
  width: 266px;
  height: 55px;

  &:hover {
    background-color: $basic-secondary;
    transition: 0.3s ease-in-out;
  }
}

.aboutTours__link {
  cursor: pointer;

  &:hover{
    color: $basic-primary;
    transition: 0.7s ease-in-out;
  }
}

.phone-link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $basic-six;

  svg {
    fill: $white;
    stroke: $black;
    transform: rotate(-15deg);
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }

  &:hover {
    color: $basic-primary;
    text-decoration: underline;

    svg {
      stroke: $basic-primary;
    }
  }
}

.link-city {
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;

  &:hover {
    color: $basic-primary;
  }
}

.phone-footer {
  line-height: 2;

  svg {
    fill: $white;
    stroke: $basic-seven;
    transform: rotate(0deg);
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }

  &:hover {
    color: $basic-primary;

    svg {
      stroke: $basic-primary;
    }
  }
}
