.main-nav {
  width: auto;
  position: relative;
  min-height: 50px;

  @media (min-width: $ds){
    background-color: transparent;
    display: block;
    min-width: 100%;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: $tb) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
}
@media (min-width: $ds) {
  .main-nav__wrapper {
    width: 960px;
  }
}
@media (min-width: $tb) {
  .main-nav__list {
    width: 570px;
  }
}
@media (min-width: $ds) {
  .main-nav__list {
    width: 780px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: $basic-primary;
  cursor: pointer;
  border: none;

  @media (min-width: $ds) {
    display: none;
  }
}

.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: $basic-secondary;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 1), 0 16px 0 0 rgba(255, 255, 255, 1);
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 1), 0 16px 0 0 rgba(255, 255, 255, 1);
}
@media (max-width: $ds) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--closed .main-nav__item--active {
    display: block;
  }
  .main-nav--closed .main-nav__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    min-height: 80vh;
    min-width: 320px;
    background-color: $white;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  background-color: transparent;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: $basic-sixa2;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__list{
  width: 320px;
  display: grid;
  gap: 20px;
  padding-top: 60px;
}

.main-nav--opened .main-nav__item{
  min-width: 100%;
}

.main-nav--opened .main-nav__link{
  padding: 10px 0;
  padding-left: 20px;
  background-color: $lightWhite2;
  color: $basic-six;
}

.main-nav--closed .main-nav__list{
  display: none;

  @media (min-width: $ds){
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.main-nav--closed .phone-wrapper{
  display: none;

  @media (min-width: $ds){
    display: block;
  }
}

.main-nav--opened .phone-wrapper{
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 570px;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    width: 780px;
  }
}
@media (min-width: 768px) {
  .main-nav__item__item {
    margin-right: 32px;
  }
  .main-nav__item:last-child {
    margin-right: 0;
  }
  .main-nav__item--active {
    position: relative;
  }
  .main-nav__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    background: #826550;
  }
}
@media (min-width: 1200px) {
  .main-nav__item {
    margin-right: 0;
  }
  .main-nav__item--active::after {
    right: 30px;
    left: 30px;
  }
}
@media (min-width: 768px) {
  .main-nav__item a[href]:hover {
    color: #826550;
    background-color: #000000;
  }
  .main-nav__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }
}
@media (min-width: 1200px) {
  .main-nav__item a[href]:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .main-nav__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }
}
.main-nav__list a {
  position: relative;
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-nav__list a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__list a {
    padding-right: 31px;
    padding-left: 31px;
  }
}
