.offer-tour {
  min-width: 100%;
  min-height: 235px;
  background-color: $loader-bg;
  background-image: url('../image/content/main_bg.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-width: 100%;
  min-height: 235px;
  margin-bottom: 280px;

  @media screen and (min-width: $tb) {
    min-height: 344px;
    margin-bottom: 80px;
  }

  @media screen and (min-width: $ds) {
    min-height: 860px;
  }

  &__wrapper{
    display: flex;
    justify-content: center;
    max-height: 235px;

    @media screen and (min-width: $tb) {
      min-height: 344px;
      justify-content: flex-end;
    }
  }

  &__link {
    position: relative;

    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      top: 18px;
      right: 40px;
      background-image: url("../image/icons/arrowDown.svg");
      background-repeat: no-repeat;
      background-size: contain;
      flex: none;
    }
  }
}

.offer-inner {
  display: flex;
  min-width: 300px;
  max-width: 412px;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @media screen and (min-width: $tb) {
    margin: 0 auto;
    margin-top: 60px;
    align-items: center;
  }

  @media screen and (min-width: $ds) {
    margin-right: 0;
    margin-top: 185px;
    align-items: flex-start;
    text-align: left;
    padding-right: 50px;
  }
}

.main-title {
  margin: 100px auto 115px auto;

  @media screen and (min-width: $tb) {
    margin: 0 auto;
  }
}

.main-subtitle {
  line-height: 1.5;
}
