.places {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $ds) {
    justify-content: space-between;
    margin-bottom: 12px;
  }
}

.places-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  text-align: center;

  p {
    line-height: 1.7;
    max-width: 100%;
    letter-spacing: -0.47px;

    @media (min-width: $tb) {
      max-width: 50%;
    }

    @media (min-width: $ds) {
      margin-bottom: 57px;
      max-width: 30%;
    }
  }

  &__heading {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    min-width: 100%;

    @media (min-width: $mb) {
      margin-bottom: 3px;
    }

    @media (min-width: $tb) {
      margin-bottom: 25px;
      align-items: center;
    }


    @media (min-width: $ds) {
      align-items: flex-start;
      text-align: left;
      margin-bottom: auto;
    }
  }

  &__title {
    @media (max-width: $tb) {
      margin-bottom: 10px;
    }

    @media (min-width: $ds) {
      max-width: min-content;
      line-height: 1.5;
      margin-bottom: 43px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 228px;
        height: 4px;
        bottom: -28px;
        left: 0;
        background-color: $basic-primary;
      }
    }
  }
}

.overlay {
  display: none;
  opacity: 0;
  position: absolute;
  width: inherit;
  height: 100%;
  background-color: $basic-sixa5;
  z-index: 2;

  &:hover {
    opacity: 1;
    transition: 0.7s ease-in-out;
  }
}

.place {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: min-content;

  @media (max-width: $ds) {
    min-width: auto;
    margin-bottom: 37px;
    flex-basis: 30%;
  }

  @media (min-width: $mb) {
    margin-bottom: 32px;
  }

  @media (min-width: $tb) {
    margin-bottom: 37px;
  }


  @media (min-width: $ds) {
    margin-bottom: 96px;
  }

  &:nth-last-child(1){
    @media (min-width: $ds) {
      margin-right: 175px;
    }
  }

  &:nth-last-child(2){
    @media (min-width: $ds) {
      margin-left: 175px;
    }
  }

  &__city{
    position: absolute;
    width: 214px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    bottom: 0;
  }

  &:hover .overlay {
    display: block;
    background-color: $basic-sixa5;
    transition: 0.7s ease-in-out;
  }

  &:hover .link-about {
    border: 1px solid $lightWhite;
    width: 266px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    z-index: 3;
    opacity: 1;
    transition: 0.7s ease-in-out;
  }

  &__wrapper {
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $ds) {
      min-width: 350px;
    }
  }
}
