.places {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $ds) {
    justify-content: space-between;
  }
}

.places-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  text-align: center;

  p {
    max-width: 410px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.overlay {
  display: none;
  opacity: 0;
  position: absolute;
  width: inherit;
  height: 100%;
  background-color: $basic-sixa5;
  z-index: 2;

  &:hover {
    opacity: 1;
    transition: 0.7s ease-in-out;
  }
}

.place {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: min-content;
  margin-bottom: 35px;
  min-width: 100%;

  @media (min-width: $tb) {
    min-width: auto;
    margin-bottom: 31px;
  }

  @media (min-width: $ds) {
    margin-bottom: 100px;
  }

  &__city{
    position: absolute;
    width: 250px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    bottom: 0;
  }

  &:hover .overlay {
    display: block;
    background-color: $basic-sixa5;
    transition: 0.7s ease-in-out;
  }

  &:hover .link-about {
    border: 1px solid $lightWhite;
    width: 266px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    z-index: 3;
    opacity: 1;
    transition: 0.7s ease-in-out;
  }

  &:nth-last-child(1), &:nth-last-child(2){
    @media (min-width: $ds) {
      flex-basis: 50%;
    }
  }

  &__wrapper {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
