// regular

.font-secondary {
  font-size: 16px;
  color: $basic-primary;
  line-height: 32;

  @media screen and (min-width: $tb) {
    font-size: 18px;
  }

  @media screen and (min-width: $ds) {
    color: $basic-six;
  }
}

.font-qualities {
  font-size: 16px;
  color: $basic-third;
  line-height: 24;
}

.font-qualitiesList {
  font-size: 16px;
  color: $basic-third;
  line-height: 32;
}

.font-third {
  font-size: 16px;
  color: $basic-third;
  line-height: 170%;

  @media screen and (min-width: $tb) {
    letter-spacing: -0.47px;
    color: $white;
  }
}

.font-seven {
  font-size: 16px;
  color: $basic-thirda7;
  line-height: 28;
  letter-spacing: -0.47px;

  @media screen and (min-width: $tb) {
    letter-spacing: -0.47px;
    color: $white;
  }
}

.font-costAbout {
  font-size: 16px;
  color: $basic-thirda7;
  line-height: 170%;
  letter-spacing: 0;
}

.font-lastAbout {
  color: $basic-sixa5;
  line-height: 170%;
  letter-spacing: 0;
}

.font-content {
  font-size: 16px;
  color: $basic-thirda7;
  line-height: 28;
  letter-spacing: -0.47px;

  @media screen and (min-width: $tb) {
    letter-spacing: -0.47px;
    color: $white;
  }
}

.font-review{
  color: $basic-thirda7;
  line-height: 28;
  letter-spacing: -0.41px;

  @media screen and (min-width: $ds) {
    font-size: 28px;
  }
}

.font-lastTitles {
  color: $basic-sixa5;
  line-height: auto;
  letter-spacing: 0;
}

.font-contactPhone {
  color: $basic-primary;
  line-height: auto;
  letter-spacing: 0;
}

.font-contactEmail {
  font-size: 16px;
  color: $basic-primary;
  line-height: 32;
  letter-spacing: 0;
}

.font-callnwrite {
  font-size: 16px;
  color: $basic-six;
  line-height: 150%;
}

// Medium

.font-nameAvatar {
  font-weight: 500;
  font-size: 16px;
  color: $basic-third;
  line-height: auto;
  letter-spacing: -0.47px;
}

.font-about {
  font-weight: 500;
  font-size: 14px;
  color: $white;
  line-height: auto;
  letter-spacing: 2px;
}

.font-fourfh {
  font-weight: 500;
  font-size: 10px;
  color: $white;
  letter-spacing: 2px;

  @media screen and (min-width: $ds) {
    font-weight: 700;
    font-size: 12px;
  }
}

.font-subtitles {
  font-weight: 500;
  font-size: 24px;
  color: $basic-third;
  line-height: auto;
  letter-spacing: -0.41px;
}

.font-tabs {
  font-weight: 500;
  font-size: 20px;
  color: $basic-thirda3;
  line-height: auto;
  letter-spacing: -0.41px;

  @media screen and (min-width: $tb) {
    letter-spacing: -0.47px;
    color: $white;
  }
}

.font-reviewTitle{
  font-weight: 500;
  font-size: 20px;
  color: $basic-third;
  line-height: auto;
  letter-spacing: -0.69px;

  @media screen and (min-width: $tb) {
    font-size: 30px;
  }
}

.font-contacts {
  font-weight: 500;
  font-size: 18px;
  color: $basic-six;
  line-height: 34;
  letter-spacing: 0;

  @media screen and (min-width: $ds) {
    font-size: 22px;
  }
}

//SemiBold

.font-primary {
  font-weight: 600;
  color: $basic-fifth;
  font-size: 20px;
  line-height: 140%;

  @media screen and (min-width: $ds) {
    font-weight: 500;
    font-size: 14px;
    line-height: auto;
    color: $basic-six;
  }
}

.font-fifth {
  font-weight: 600;
  color: $white;
  font-size: 24px;
  line-height: 150%;

  @media screen and (min-width: $tb) {
    font-size: 30px;
  }

  @media screen and (min-width: $ds) {
    font-size: 55px;
    line-height: 80;
    letter-spacing: -1.11px;
  }
}

.font-six {
  font-weight: 600;
  font-size: 24px;
  color: $basic-third;
  line-height: 150%;

  @media screen and (min-width: $tb) {
    font-size: 30px;
  }

  @media screen and (min-width: $ds) {
    font-size: 55px;
    line-height: 80;
    letter-spacing: -1.25px;
  }
}

.font-sixth {
  font-weight: 600;
  font-size: 24px;
  color: $basic-third;
  line-height: 150%;

  @media screen and (min-width: $tb) {
    font-size: 30px;
  }

  @media screen and (min-width: $ds) {
    font-size: 55px;
    line-height: 90;
    letter-spacing: -1.25px;
  }
}


.font-offer-day{
  font-weight: 600;
  font-size: 24px;
  color: $basic-primary;
  line-height: 34;
  letter-spacing: 0;

  @media screen and (min-width: $ds) {
    font-size: 28px;
  }
}

.font-offer{
  font-weight: 600;
  font-size: 24px;
  color: $basic-sixa7;
  line-height: 38;
  letter-spacing: -1.27px;

  @media screen and (min-width: $ds) {
    font-size: 28px;
  }
}

.font-offer.js-offer-active{
  color: $basic-primary;
}

.font-feedBack {
  font-weight: 600;
  font-size: 25px;
  color: $basic-six;
  line-height: 32;
  letter-spacing: 0;
}

.font-lastTitle {
  font-weight: 600;
  font-size: 18px;
  color: $basic-six;
  line-height: 32;
  letter-spacing: 0;
}

// Bold

.font-offerCost {
  font-weight: 700;
  font-size: 25px;
  color: $basic-sixa7;
  line-height: 34;
  letter-spacing: 0;

  @media screen and (min-width: $ds) {
    font-size: 28px;
  }
}

.font-offerCost.js-offer-active{
  color: $basic-primary;
}
