// colors

// breakpoints
$mb: 320px;
$tb: 768px;
$ds: 1024px;

//colors
$black: #000000;
$white: #ffffff;
$loader-bg: #ebebeb;
$lightWhite: rgba(100%, 100%, 100%, .7);
$lightWhite2: #FBF8F8;


$basic-primary: #fe7865;
$basic-secondary: #f17d4b;
$basic-third: #2c2e3f;
$basic-thirda7: rgba(44, 46, 63, .7);
$basic-thirda3: rgba(44, 46, 63, .3);
$basic-fourth: #121517;
$basic-fifth: #48494d;
$basic-six: #141517;
$basic-sixa7: rgba(20, 21, 23, .7);
$basic-sixa5: rgba(20, 21, 23, .5);
$basic-sixa2: rgba(20, 21, 23, .2);
$basic-seven:#D7D9DF;

